
* {
    box-sizing: border-box;
}
body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#232946;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header{
    background:#fffffe;
    color:#232946;
    padding-top:30px;
    min-height:70px;
    border-bottom:#eebbc3 3px solid;
    width:100%;
    border-radius: 25px;
}

.topBar{
    width:80%;
    margin:auto;
    overflow:hidden;
}


header #branding{
    float:left;
    margin:0;
}

header a{
    color:#232946;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header nav{
    float:right;
    margin-top:10px;
}

header .current a{
    color:#eebbc3;
    font-weight:bold;
}



#showcase{
    min-height:400px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color:#ffffff;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

#showcase.text{
    color: #a41414;
}

footer{
    margin-top:20px;
    margin-bottom: 0;
    color:#232946;
    background-color:#fffffe;
    text-align: center;
    width: 100%;
    overflow: hidden;
}


#signin{
    padding: 5%;
}

#register{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0.5%;
}


#signin, #register{
    display: flex;
    align-items: center;
    flex-flow: column;
    background: #fffffe;
    color: #232946;
    border-radius: 25px;
    justify-content: space-evenly;
}

#signin label{
    display: block;
    font-size: 20px;
}

input[type="text"],  input[type="password"]{
    padding: 8px;
    width: 100%;
    font-size: 15px;
}

#signin h1{
    font-size: 30px;
}

.btn{
    font-size: 25px;
    background-color: #eebbc3;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 25px
}

#signin #createacc a:visited, #signin #createacc a:link{
    text-decoration: none;
    color: #232946;
    font-size: 13px;
}

#signin #createacc a:hover{
    text-decoration: underline;
    font-size: 13px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

#register label{
    display: block;
}



