body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#232946;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header{
    background:#fffffe;
    color:#232946;
    padding-top:30px;
    min-height:70px;
    border-bottom:#eebbc3 3px solid;
    width:100%;
    border-radius: 25px;
}

.topBar{
    width:80%;
    margin:auto;
    overflow:hidden;
}


header #branding{
    float:left;
    margin:0;
}

header a{
    color:#232946;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header nav{
    float:right;
    margin-top:10px;
}

header .current a{
    color:#eebbc3;
    font-weight:bold;
}



#showcase{
    min-height:400px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color:#ffffff;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

#showcase.text{
    color: #a41414;
}

footer{
    margin-top:20px;
    margin-bottom: 0;
    color:#232946;
    background-color:#fffffe;
    text-align: center;
    width: 100%;
    overflow: hidden;
}




#signin{
    padding: 5%;
    display: flex;
    align-items: center;
    flex-flow: column;
    background: #fffffe;
    color: #232946;
    border-radius: 25px;
}

#signin label{
    display: block;
    font-size: 20px;
}

#signin input[type="text"], #signin input[type="password"]{
    padding: 8px;
    width: 100%;
    font-size: 15px;
}

#signin h1{
    font-size: 30px;
}

.btn{
    font-size: 25px;
    background-color: #eebbc3;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 25px
}

#signin #createacc{
    font-size: 15px;
    padding: 3%;
}



