<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Social Media Aggregator">
    <meta name="author" content="Team">
    <title> SMB </title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<header>
    <div class="topBar">
        <div id="branding">
            <img src="./img/logo.jpeg">
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="signin.tpl">Sign In / Register</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="wallcolumn">
    <div id="profile">
        <img src="./img/portrait-square-06.jpeg" id = "profilePicture">
        <div class="profileSection">
            <div id="name">
                <p>FirstName LastName</p>
            </div>
        </div>
    </div>

    <div class="post">
        <img src="./img/dice.jpg">
        <div class="postText">
            <ul>
                <li>Likes: 245</li>
                <li>Comments: 223</li>
                <li>Visibility: Public</li>
            </ul>
        </div>
    </div>
    <div class="post">
        <img src="./img/urban.jpg">
        <div class="postText">
            <ul>
                <li>Likes: 245</li>
                <li>Comments: 223</li>
                <li>Visibility: Public</li>
            </ul>
        </div>
    </div>
    <div class="post">
        <img src="./img/love.jpg">
        <div class="postText">
            <ul>
                <li>Likes: 245</li>
                <li>Comments: 223</li>
                <li>Visibility: Public</li>
            </ul>
        </div>
    </div>
    <div class="post">
        <img src="./img/money.jpg">
        <div class="postText">
            <ul>
                <li>Likes: 245</li>
                <li>Comments: 223</li>
                <li>Visibility: Public</li>
            </ul>
        </div>
    </div>
    <div class="post">
        <img src="./img/nature.jpg">
        <div class="postText">
            <ul>
                <li>Likes: 245</li>
                <li>Comments: 223</li>
                <li>Visibility: Public</li>
            </ul>
        </div>
    </div>
    <div class="post">
        <img src="./img/stone.jpg">
        <div class="postText">
            <ul>
                <li>Likes: 245</li>
                <li>Comments: 223</li>
                <li>Visibility: Public</li>
            </ul>
        </div>
    </div>
</div>
<footer>
    <p>SMB Copyright &copy; 2022</p>
</footer>
</body>
</html>