#body {
    margin: 0;
    background-color: #232946;
}

* {
    box-sizing: border-box;
}

header{
    background:#fffffe;
    color:#232946;
    min-height:70px;
    border-bottom:#eebbc3 3px solid;
    width:97%;
    border-radius: 25px;
    position: sticky;
    top: 0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 2%;
}

.topBar{
    width:90%;
    margin:auto;
    overflow:hidden;
}


header #branding{
    float:left;
    margin:0;
}

header #branding img{
    border-radius: 25px;
}


header a{
    color:#232946;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header nav{
    float:right;
    margin-top: 2.5%;
}

header .current a{
    color:#eebbc3;
    font-weight:bold;
    border-bottom: #eebbc3 2px solid;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {

    header .topBar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    header #branding {
        transform: scale(0.5);
    }

    header nav {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 800px) {
    .topBar nav ul {
        display: flex;
        flex-direction: column;
    }
}

.rowC{
    margin-left: 10%;
}

.columnC {
    float: left;
}

.rowC:after {
    content: "";
    display: table;
    clear: both;
}


h1 {
    color: #239aca;
    text-align: center;
}

h1:first-letter{
    color:#1B6685;
}


#leftSide {
    color: #aaa;
    width: 186px;
    padding: 5px;
    margin: 0 20px;
    overflow: auto;
    background-color: #fff;
    border: dashed 1px #bbb;
    box-shadow: 0px 0px 0px 5px #f7f7f7, 0px 0px 2px 7px #bbb, 0px 0px 5px 5px #f7f7f7 inset;
}



#dropZone {
    padding: 30px 0;
    margin-bottom: 8px;
    text-align: center;
}

#dropZone.dragover {
    background: #DCDCDC;
}


img {
    margin: 0 3px;
}
img:hover {
    cursor: grab;
}


#buttonsArea {
    margin: 0 15px 0 50px;
}

select {
    color: #333;
    display: block;
    max-width: 100%;
    border-radius: 3px;
    height: auto !important;
    border: 1px solid #e3e3e3;
    line-height: 16px !important;
    padding: 10px 70px 10px 13px !important;
    background: #fff url("selectbox_arrow.png") right center no-repeat;
    appearance: none; /* this is must */
    -webkit-appearance: none;
    -moz-appearance: none;
}


#singleUploadSection {
    color: #333;
    width: 194px;
    padding: 6px;
    margin: 10px 0;
    font-size: 13px;
    text-align: center;
    border-radius: 3px;
    background-color: #fff;
}


#background {
    padding: 5px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.layer {
    padding: 5px;
    position: absolute;
    background-color: #fff;
}