 .box{
     width: 70%;
     min-height: 40vmin;
     padding: 50px 30px;
     background-color:#fffffe ;
     position: absolute;
     transform: translate(-50%,-50%);
     top: 55%;
     left: 50%;
     border-radius: 25px;
     /*box-shadow: 0 20px 35px ;*/
     display: grid;

     grid-template-columns: 7fr 5fr;
 }

 #details{
     display: none;
 }

 .editor{
     border: 1px solid #eebbc3;
     min-height: 35vmin;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     /*gap: 20px;*/
     padding: 5px;
 }

 .editor label{
     font-size: 2.0vmin;
     color: #d08691;
     font-weight: 400;
 }

 .editor input[type="range"]{
     display: block;
     width:  100%;
     position: relative;
     margin-top: 5px;
 }
 .flip-buttons{
     display: flex;
     flex-direction: column;
     margin-top: 10px;

 }
 .flip-buttons .flip-option{
     margin-top: 10px;
 }
 .result{
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 20px;

 }

/*.photobutton*/
 .result img{
     display: block;
     justify-content: center;
     max-width: calc(100%- 4vmin);
     max-height: 45vmin;
     margin: auto;
 }

 input[type="file"]{
     display: none;
 }
 .result .editbuttons {
     display: inline-flex;
     position: relative;
     justify-content: space-around;
     width: 40%;
     /*background-color: #eebbc3 ;*/
     padding: 16px 0;
     margin: auto;

 }
 .result button{
     background-color: #eebbc3;
     text-align: center;
     cursor: pointer ;
     border-color: #14192f;
     color: #fffffe;
     padding: 10px;
     font-size: 20px;
     margin: 1%;
     border: 2px;
     border-radius: 10px;
     width: auto;
 }



 .result button:hover {background-color: #d08691;}

 @media screen and (max-width: 800px) {
    .box{
        width: 70%;
        padding: 30px 20px;
        gap: 10px;
    }
     .editor{
         grid-row: 2;
     }
     .flip-buttons{
         flex-direction: row;
         justify-content: space-between;
     }
     .flip-buttons .flip-option{
         margin-top: 0;
     }
     .result button {
         font-size: 15px;
         padding: 5px;
     }
 }
